article p{
   grid-area: cuerpo;
}

article header{
    grid-area: cabeceraArticle;
    
}

article img{
    grid-area: imagen;
    box-shadow: 0.5em 0.5em 1em;
    border: 0.5em solid var(--colorTerciario);
    width: 100%;
}

article{
    display: grid;
    grid-template-areas: 'cabeceraArticle imagen'
                         'cuerpo imagen';
    grid-template-rows:2em auto;
    grid-template-columns: 70% 30%;
}

article.img__derecha{
    display: grid;
    grid-template-areas: 'cabeceraArticle imagen'
                         'cuerpo imagen';
}

article.img__izquierda{
    display: grid;
    grid-template-areas: 'imagen cabeceraArticle'
                         'imagen cuerpo';
}


article header.centrado{
    text-align: center;
}

article header.izquierda{
    text-align: left;
}

article header.derecha{
    text-align: right;
}

article p.centrado{
    text-align: center;
}

article p.izquierda{
    text-align: left;
}

article p.derecha{
    text-align: right;
}