button{
    padding: 10px;
    border: none;
    background: var(--colorBotonesFondoDefecto);
    color: white;
    transition: transform 0.2s;
    cursor: pointer;
}

.bottonRedondeado{
    border-radius: 51%;
}

.bottonPocoRedondeado{
    border-radius: 20px;
}

.bottonSombreado{
    box-shadow:0px 0px 10px var(--colorBotonesSombraDefecto);
}


button:hover{
transform: scale(1.06);
}

button:active{
    transform: scale(1);
}







