header{
    display: grid;
    background-color: var(--colorPrincipal);
    justify-content: center;
}

header div{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    grid-gap: 5vh;
}

header div img {
    width: 100%;
    height: 8vh;
    border-radius: 100%;
}

header div h1 {
    font-size: 20px;
}