/*Defecto estilos (colores) nav*/
nav {
    background: var(--colorFondoMenu);
    color: var(--colorLetraMenu);
}

nav a {
    color: var(--colorLetraMenu);
    text-decoration: none;
}

nav ul li ul {
    background: var(--colorFondoLiSubmenuMenu);
}

nav ul li ul li {
    border-bottom: 1px solid var(--colorBordeMenu);
}

/*Funcionalidad Submenus Nav*/
nav ul li {
    position: relative;
    cursor: pointer;
    list-style: none;
}

nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
    transition: all 1s;
}

nav ul li:hover ul {
    display: block;
    background: red;
}

/*Nav Vertical*/
body.simple.simple--navVertical nav ul li:hover ul {
    position: relative;
    margin: 0.7em 0px;
    margin-bottom: 0em;
}

body.simple.simple--navVertical nav.despligueBloque ul li:hover ul {
    position: relative;
    margin: 0.7em 0px;
    margin-bottom: 0em;
}

body.simple.simple--navVertical nav ul>li {
    padding: 1em 0em;
}

body.simple.simple--navVertical nav ul li:hover ul li {
    padding-bottom: 1em;
}

/*NAV HORIZONTAL*/
body.simple.simple--navHorizontal nav ul li:hover ul::after {
    /*circunflejo css al hacer hover*/
    content: " ";
    position: absolute;
    top: -0.9em;
    transform: rotate(180deg);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 14px solid var(--colorFlechaSubMenuSuperior);
}

body.simple.simple--navHorizontal nav {
    display: grid;
    align-items: center;
}

body.simple.simple--navHorizontal nav>ul {
    display: grid;
    align-content: center;
    grid-auto-flow: column;
    list-style: none;
    padding: 0.2em;
}

body.simple.simple--navHorizontal nav>ul li {
    max-width: 15em;
    min-width: 10em;
    padding: 1em;
}

body.simple.simple--navHorizontal nav.navHorizontal--centrado>ul {
    justify-content: center;
}

body.simple.simple--navHorizontal nav.navHorizontal--izquierda>ul {
    justify-content: left;
}

body.simple.simple--navHorizontal nav.navHorizontal--derecha>ul {
    justify-content: right;
}

body.simple.simple--navHorizontal nav ul li:hover ul {
    display: block;
    width: 100%;
    top: 100%;
    position: absolute;
    z-index: 20;
}

/*Vertical*/
body.simple.simple--navVertical nav {}

body.simple.simple--navVertical nav ul li {
    border-bottom: 1px solid var(--colorBordeMenu);
}

body.simple.simple--navVertical nav ul li ul li:last-child {
    border-bottom: none;
}

body.simple.simple--navVertical nav.navVertical--centrado>ul {
    text-align: center;
}

body.simple.simple--navVertical nav.navVertical--izquierda>ul {
    text-align: left;
}

body.simple.simple--navVertical nav.navVertical--derecha>ul {
    text-align: right;
}

/* Horizontal */
body.simple.simple--navHorizontal nav {}

body.simple.simple--navHorizontal nav ul li {}