:root {
    --fuenteGeneral:12pt Verdana, Arial;
    --colorPrincipal:#B38D97;
    --colorSecundario:#D5ACA9;
    --colorTerciario:#EBCFB2;
    --colorCuaternario:#d1a7b1;
    --colorGeneralLetra:black;
    --colorHoverOscurecido:#333333;
    --colorHoverBlanqueado:#ffffff;
    --colorBotonesFondoDefecto:#333333;
    --colorBotonesSombraDefecto:#333333;
}